@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="light"] {
    --background-color: #5cdb95;
    --foreground: black;
    --font-color: #264a6e;
}

[data-theme='dark'] {
    --background-color: #379683;
    --foreground: white;
    --font-color: #fbfcf6;
}

body {
    background: var(--background-color);
    color: var(--font-color);
}

.container-header {
    background: #eeedf3;
}

.alert {
    border-color: black;
}

.alert:hover {
    opacity: .5;
}

.container-navbar {
    padding: 10px;
    width: 17em;
    background: #fbfcf6;
    transition: all .3s ease-in-out;
    height: 100vh;
}


.navbar--closed {
    width: 5em;
}

.menu-title {
    color: #1d3853;
}

.menu-item {
    color: #1d3853;
}

.menu-item:hover {
    background-color: #05386B;
    color: #FFFFFF;
}

.add-timer-button {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    height: 3.5em;
    width: 3.5em;
}

.add-timer-button:hover {
    background: linear-gradient(to bottom, #2980b9, #3498db);
}