@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="light"] {
    --bg: #5cdb95;
    --fg: black;
    --font-color: #264a6e;
}

[data-theme='dark'] {
    --bg: #379683;
    --fg: white;
    --font-color: #fbfcf6;
}

html,
body {
    padding: 0;
    margin: 0;
    /* background: var(--background-color);
    color: var(--font-color); */
}

body {
    min-height: 100vh;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    color: var(--font-color);
    background: var(--bg);
    color: var(--fg);
}

.container-header {
    background: #eeedf3;
}

.alert {
    border-color: black;
    margin: 0 auto;
}

.alert:hover {
    opacity: .5;
}

.container-navbar {
    padding: 10px;
    width: 17em;
    background: #fbfcf6;
    transition: all .3s ease-in-out;
    height: 100vh;
}


.navbar--closed {
    width: 5em;
}

.menu-title {
    color: #1d3853;
}

.menu-item {
    color: #1d3853;
}

.menu-item:hover {
    background-color: #05386B;
    color: #FFFFFF;
}

.menu-item--active {
    background-color: #05386B;
    color: #FFFFFF;
}

.header-title {
    color: #1d3853;
}

.header-container {
    position: absolute;
    right: 0;
    padding-right: 2em;
}

.add-timer-button {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    height: 3.5em;
    width: 3.5em;
}

.add-timer-button:hover {
    background: linear-gradient(to bottom, #2980b9, #3498db);
}

.timer-frame {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.timer-container {
    height: 100%;
    width: 100%;
    border: white;
    border-width: 1;
    background-color: white;
}